
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="color: red;font-family: Helvetica;">ERROR</h2>
<p style="font-size: 170%;font-family: Times New Roman">
Ha ocurrido un error al intentar restaurar su contraseña, esto puede ocurrir debido a varios factores: <br/>
•El correo que ingreso no existe en nuestro servidor <br />
•Ya se ha solicitado una restauracion recientemente <br>
Por favor verifique que su correo fue ingresado correctamente, 
o si ha solicitado un cambio de contraseña recientemente, revise
su correo electronico para finalizar el proceso.
</p>