@model DoctorFlow.Models.UserModels.UserPasswordRecoveryModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form action="/PasswordRecovery" method="post">
    <h3>Recuperar Contraseña</h3>
    <div class="form-group">
        <br/>
        <label for="Email">Correo Electr&#243;nico</label>
        <br/>
        <input id="Email" name="Email" type="text" value="" /><br />
        <br/>
        <input type="submit" value="Enviar" class="btn btn-default" />
    </div>
</form>