@model DoctorFlow.Models.UserModels.UserPasswordResetModel
@{
    ViewBag.Title = "Restaurar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 style="font-family: helvetica">Restaurar Contraseña</h3>
<br/>
<form action="/PasswordRecovery" method="post">
    <div class="form-group">
        <label for="Email">Correo Electr&#243;nico</label>
        <br/>
        <div>
            <input id="Email" name="Email" type="text" value="" /><br />
        </div>
        <br />
        <div>
            <input type="submit" value="Enviar" class="btn btn-default" />
        </div>
    </div>
</form>