@model DoctorFlow.Models.UserModels.UserActivateModel

@{
    ViewBag.Title = "Activate User";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    function looksLikeMail(str) {
        var lastAtPos = str.lastIndexOf('@@');
        var lastDotPos = str.lastIndexOf('.');
        return (lastAtPos < lastDotPos && lastAtPos > 0 && str.indexOf('@@@@') == -1 && lastDotPos > 2 && (str.length - lastDotPos) > 2);
    }

    function validateForm() {
        var username = document.forms["activate_form"]["EmailOrUserName"].value;
        var password = document.forms["activate_form"]["Password"].value;
        var activationCode = document.forms["activate_form"]["ActivateCode"].value;
        if (username == null || username == "") {
            alert("El Nombre de Usuario o Correo Electrónico es requerido.");
            return false;
        }
        else if (password == null || password == "") {
            alert("La Contraseña es requerida.");
            return false;
        }
        else if (password.length < 8) {
            alert("La Constraseña es muy corta.");
            return false;
        }
        else if (activationCode == null || activationCode == "") {
            alert("Debe proveer un codigo de activación. Este se encuentra al final del enlace que se le envio.");
            return false;
        }
            
        return true;
    }
</script>
<h2>Activación de cuenta</h2>


<form action="/Register/Activate" method="post" name ="activate_form" onsubmit="return validateForm()">
    <div class="form-horizontal">
        <hr />
        <div class="form-group">
            <label class="control-label col-md-2" for="EmailOrUserName"> Correo/Usuario</label>
            <div class="col-md-10">
                <input class="text-box single-line" id="EmailOrUserName" name="EmailOrUserName" type="text" value="" /><br />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="Password">Contrase&#241;a</label>
            <div class="col-md-10">
                <input class="text-box single-line password" id="Password" name="Password" type="password" value="" /><br />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="ActivateCode">Codigo de Activaci&#243;n</label>
            <div class="col-md-10">
                <input class="text-box single-line" id="ActivateCode" name="ActivateCode" type="text" value="" /><br />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Activate" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>
<div>
    @Html.ActionLink("Volver al Inicio", "Index","Home")                 
</div>
