@{
    ViewBag.Title = "Home Page";
}
<body>

    <img class="img-center" src="~/Content/Image/lema.png" alt="Dr.Flow.png" />
    <div class="row" style="text-align:justify" >
        <div class="col-md-5">
            <h2>Dr. Flow : Paciente</h2>
            <p>
                Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Pellentesque pretium mauris a orci dapibus vestibulum. Suspendisse vestibulum pulvinar neque vitae gravida. Morbi eu metus dui. Etiam eleifend rutrum ligula ac porta. Aenean dapibus, ex sed molestie elementum, mauris libero fringilla diam, nec convallis justo velit nec est. Vestibulum ultricies neque ac justo ultricies, ac rhoncus ante tincidunt. Vivamus dapibus arcu ut odio congue, quis tempor nisi sodales. Vivamus feugiat placerat leo non mattis. Maecenas aliquam augue vitae luctus euismod.
            </p>
            <a href="@Url.Action("Create", "Register")">
                <input type="submit" value="Registrarme" class="btn btn-primary" />
            </a>
        </div>
        <div class="col-md-5">
            <h2>Dr. Flow: Medico</h2>
            <p>
                Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Pellentesque pretium mauris a orci dapibus vestibulum. Suspendisse vestibulum pulvinar neque vitae gravida. Morbi eu metus dui. Etiam eleifend rutrum ligula ac porta. Aenean dapibus, ex sed molestie elementum, mauris libero fringilla diam, nec convallis justo velit nec est. Vestibulum ultricies neque ac justo ultricies, ac rhoncus ante tincidunt. Vivamus dapibus arcu ut odio congue, quis tempor nisi sodales. Vivamus feugiat placerat leo non mattis. Maecenas aliquam augue vitae luctus euismod.
            </p>
            <p>
                <a href="@Url.Action("Index", "RegisterDoctor")">
                    <input type="submit" value="Registrarme" class="btn btn-primary" />
                </a>
            </p>
        </div>
    </div>
</body>
