@{
    ViewBag.Title = "Home Page";
}
<body>

    <img class="img-center" src="~/Content/Image/lema.png" alt="Dr.Flow.png" />
    <div class="row" style="text-align:justify" >
        <div class="col-md-5">
            <h2>Dr. Flow</h2>
            <p>
                Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Pellentesque pretium mauris a orci dapibus vestibulum. Suspendisse vestibulum pulvinar neque vitae gravida. Morbi eu metus dui. Etiam eleifend rutrum ligula ac porta. Aenean dapibus, ex sed molestie elementum, mauris libero fringilla diam, nec convallis justo velit nec est. Vestibulum ultricies neque ac justo ultricies, ac rhoncus ante tincidunt. Vivamus dapibus arcu ut odio congue, quis tempor nisi sodales. Vivamus feugiat placerat leo non mattis. Maecenas aliquam augue vitae luctus euismod.
            </p>
            <p>
                Sed in metus semper, vestibulum elit posuere, dignissim justo. Fusce ultrices aliquet lobortis. Pellentesque faucibus turpis eu felis ultricies maximus. Suspendisse potenti. Aliquam ac leo in nisl ultrices convallis sit amet in neque. Mauris maximus elementum tellus nec pellentesque. Donec vitae est eu velit semper congue. Phasellus in pellentesque ante. Morbi eros nisi, feugiat lobortis aliquet cursus, porttitor vitae orci. Vestibulum ipsum sem, malesuada rhoncus nisi at, placerat ultricies est.
            </p>
        </div>
    </div>
</body>
