@{
    ViewBag.Title = "Home Page";
}
<br/>
<div class="jumbotron">
    <h1>Doctor Flow</h1>
    <p class="lead">Bienvenido a Doctor Flow!!</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Ingresa Aquí.</h2>
        <p>
        </p>
        <p><a class="btn btn-primary" href="@Url.Action("Index","Login")">Ingresar &raquo;</a>
            <a class="btn btn-success" href="@Url.Action("Index","Register")">Registrar &raquo;</a></p>
    </div>
    
</div>